@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
  font-size: 15px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    /* font-size: 15px; */
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100%;
    background-color: var(--lightest-gray-blue);
}

.top-svg {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    transform: translateX(190px);
}

.hidden {
  display: none;
}

.general-container {
    margin: 4rem auto 4rem auto;
    display: grid;
    justify-content: center;
    width: max-content;
}

h3 {
    font-size: 2rem;
    color: var(--dark-gray-blue);
    text-align: center;
}

.toggle {
    margin: 2rem 0 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.toggle h6 {
    font-size: 0.8rem;
    color: var(--light-gray-blue);
}

/* styles for toggle */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to left, var(--gradient));
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-image: linear-gradient(to right, var(--gradient));
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* end styles for toggle */

.cards-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: max-content;
  padding: 2.4rem 2rem 2.4rem 2rem;
  margin: 2rem auto 2rem auto;
  border-radius: 10px;
  background-color: white;
  color: var(--dark-gray-blue);
  box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.075);
}

.cards-container > div h5,
.cards-container > div h5 {
  font-size: 0.8rem;
  color: var(--gray-blue);
  text-align: center;
  width: 230px;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid var(--light-gray-blue);
}

.cards-container > div h5:first-of-type,
.cards-container > div h5:first-of-type {
  border-top: 1px solid var(--light-gray-blue);
}

.cards-container > div h5.badge,
.cards-container > div h5.badge {
  border: none;
  padding: 0;
}

.cards-container > div h1,
.cards-container > div h1 {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.cards-container div button {
  text-transform: uppercase;
  color: white;
  font-size: 0.7rem;
  font-family: inherit;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, var(--gradient));
  padding: 0.7rem 2rem 0.7rem 2rem;
  margin-top: 2.2rem;
  border: none;
  border-radius: 10px;
}

.professional-card {
  background-image: linear-gradient(to bottom, var(--gradient));
}

.professional-card h1 {
  color: white;
}

.professional-card h5 {
  color: white !important;
}

#professional-btn {
  background-color: white;
  background-image: none;
  color:  hsl(237, 63%, 64%);
}