:root {
    --lightest-gray-blue: hsl(240, 78%, 98%);
    --light-gray-blue: hsl(234, 14%, 74%);
    --gray-blue: hsl(233, 13%, 49%);
    --dark-gray-blue: hsl(232, 13%, 33%);
    --gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
}